<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<!--소속 ( 대,중,th)-->
<div>
  부서 생성
  <div>
    <label> name </label> <input id="deptName" name="name" type="text"/>
    <button type="button" onclick="deptCreate()">추가</button>
  </div>
</div>
<hr>
<div style="border:solid 1px; margin-bottom: 9px;">
  그룹 맴버 초대
  <div>
    <label style="margin-left:3px;"> email </label><input id="groupsInputEmail" name="email" type="email">
    <button type="button" onclick="groupsInviteClick()">초대</button>
  </div>
</div>
<!-- 그룹네 있는 부서 & 팀 생성 -->
<div id="group_in_dept_in_team" class="group_in_dept_in_team" style="width:930px;">
</div>
</body>
<script>
  const defaultUrl = window.location.origin;
  const local = window.location.pathname;
  const groupId = local.substring(7, local.length);

  function groupsInviteClick() {
    var email = document.getElementById("groupsInputEmail").value;
    postVoid("api/groups/invite", {
      groupsId: groupId,
      email: email,
    })
    .then(() => location.reload())
    .catch(error => console.log(error))
  }

  function deptCreate() {
    var name = document.getElementById("deptName").value;

    postVoid("api/group/add/dept", {
      groupsId: groupId,
      name: name,
    })
    .then(() => location.reload())
    .catch(error => console.log(error))
  }

  const init = function () {
    fetchGet(groupId);
  }

  const fetchGet = function (groupId) {
    const url = `${defaultUrl}/api/group/room/${groupId}`;
    fetch(url)
    .then((response) => response.json())
    .then((data) => groupInDeptAndTeam(data))
    .catch((error) => console.log(error))
  }

  function groupInDeptAndTeam(datas) {
    if (!Array.isArray(datas.group)) {
      alert(datas);
      location.href = defaultUrl;
    }
    datas.group.forEach(function (data, idx) {
      document.getElementById("group_in_dept_in_team")
          .innerHTML += groupInDeptAndTeamOut(data, datas.groupsId);
    })
  }

  function groupInDeptAndTeamOut(data, groupsId) {
    // 부서
    var out = ""
        + "  <div style='border:groove; margin-right:10px; width:300px; box-sizing: border-box; float: left;'>\n"
        + "    <label style='font-size:22px'> 부서명 :" + data.name + "</label>\n";
    // 팀 for
    data.list.forEach(function (team) {
      console.log(team);
      let teamId = team.teamId;
      let teamName = team.name;
      let href = "/team/room/" + groupsId + "/" + teamId;

      out += "    <div style=' background-color: rgb(167 181 243); box-shadow: 1px 3px 2px;border:groove;' " +
          "onclick='location.href=`" + href + "`'>\n"
          + "      <label> 팀명 : " + teamName + "</label><br>\n"
          + "    </div>\n"
    })

    out += "    <br>\n"
        + "    <div>\n"
        + "        <input type='text' id='" + groupsId + "-" + data.deptId
        + "-name' name='name' style='position:absolute' placeholder='팀 이름'>\n"
        + "        <button onclick='teamCreate(" + data.deptId + "," + groupsId + ")'"
        + "    style='margin-left:187px' type='submit' id='groupTeam-" + groupsId
        + "'><label>팀 생성</label></button>\n"
        + "    </div>\n"
        + "  </div>";
    return out;
  }

  function teamCreate(deptId, groupsId) {
    const name = document.getElementById(groupsId + "-" + deptId + "-name").value;
    postVoid("api/group/add/team", {
      groupsId: groupsId,
      deptId: deptId,
      name: name,
    })
    .then(() => location.reload())
    .catch(message => console.log(message));
  }

  async function post(path, body, headers = {}) {

    const url = `${defaultUrl}/${path}`;
    const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        ...headers,
      },
      body: JSON.stringify(body),
    };
    const res = await fetch(url, options);
    const data = await res.json();
    if (res.ok) {
      return data;
    } else {
      throw Error(data);
    }
  }

  async function postVoid(path, body, headers = {}) {

    const url = `${defaultUrl}/${path}`;
    const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        ...headers,
      },
      body: JSON.stringify(body),
    };
    const res = await fetch(url, options);
    if (res.ok) {
      return res.ok;
    } else {
      throw Error(data);
    }
  }

  init();
</script>
</html>