<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>그룹</title>
</head>
<body>
<!-- 그룹 등록 -->
그룹 등록
<div>
  <div>
    <label>그룹 명 :
      <input id="groupInputName" name="name" type="text">
    </label>
    <button type="button" onclick="groupsAdd()"> 생성</button>
  </div>
</div>
<div>
  <table id="groupList" style="border: 1px solid ">
  </table>
</div>
</body>
<script>
  var defaultUrl = window.location.href;

  post("api/groups/list")
  .then(data => groupsList(data))
  .catch(error => console.log(error))

  function groupsAdd() {
    var name = document.getElementById("groupInputName").value;
    post("api/groups/add", {
      name: name,
    })
    .then(() => location.reload())
    .catch(error => console.log(error))
  }

  function groupsList(datas) {
    let out = "";
    datas.forEach(function (data, idx) {
      let groupId = data.groupsId;
      out += "" +
          "<tr onclick='location.href=`group/" + groupId + "`'>" +
          "<td>" + data.name + "</td>" +
          "</tr >";
    });
    document.getElementById("groupList").innerHTML = out;
  }

  async function post(path, headers = {}) {
    const url = `${defaultUrl}/${path}`;
    const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        ...headers,
      },
    };
    const res = await fetch(url, options);
    const data = await res.json();
    if (res.ok) {
      return data;
    } else {
      throw Error(data);
    }
  }

  async function post(path, body, headers = {}) {
    const url = `${defaultUrl}${path}`;
    const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        ...headers,
      },
      body: JSON.stringify(body),
    };
    const res = await fetch(url, options);
    const data = await res.json();
    if (res.ok) {
      return data;
    } else {
      throw Error(data);
    }
  }

</script>
</html>