<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Kang JH Monitoring</title>
    <meta charset="utf-8">

</head>
<body>
<h1>모니터링 사이트</h1>

<div sec:authorize="isAuthenticated()">
    <form action="/logout">
        <button>로그아웃</button>
    </form>

    <form action="/mypage">
        <button>마이페이지</button>
    </form>

    <form action="/groups">
        <button>그룹 페이지</button>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <form action="/login" method="get">
        <button>login</button>
    </form>
    <br>
    <form action="/signup" method="get">
        <button>signup</button>
    </form>
</div>
<br>

</body>
</html>