<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>team</title>
  <script src="/common.js"></script>
</head>
<body>
<!-- 전체 영역-->
<div>
  <!--  도메인 입력 -->
  추가 주소입력
  <div style="height: 72px;width: 1033px; border:solid 1px; margin-bottom: 10px;">
    <br>
    <div>
      <div style="width:300px; margin-top: 1px; margin-right:3px; float:left;  border:solid 1px;">
        <label> 이름 </label><input id="addressUrlName" name="name" type="text"><br>
        <label> URL </label><input id="addressUrl" name="url" type="text">
        <button type="button" onclick="addressUrl()">추가</button>
      </div>
      <div style="width:400px;  margin-top: 1px; margin-right:3px; float:left; border:solid 1px;">
        <label> 이름 </label><input id="addressPortName" name="name" type="text" style="width:113px;"><br>
        <label> IP </label>
        <input id="addressPortIpA" name="addressPortIpA" type="number" max="255" min="0" style="width:40px;">.
        <input id="addressPortIpB" name="addressPortIpB" type="number" max="255" min="0" style="width:40px;">.
        <input id="addressPortIpC" name="addressPortIpC" type="number" max="255" min="0" style="width:40px;">.
        <input id="addressPortIpD" name="addressPortIpD" type="number" max="255" min="0" style="width:40px;">
        <label>port</label>
        <input id="addressPortPort" name="port" type="text" style="width:70px;">
        <button type="button" onclick="addressPort()">추가</button>
      </div>
      <div style="width:300px; margin-top: 1px; float:left;margin-right:3px;  border:solid 1px; ">
        <div>
          <label> 이름 </label><input id="addressIpName" name="name" type="text" style="width: 100px;"><br>
          <label> IP </label>
          <input id="addressIpA" name="addressIpA" type="number" max="255" min="0" style="width:40px;">.
          <input id="addressIpB" name="addressIpB" type="number" max="255" min="0" style="width:40px;">.
          <input id="addressIpC" name="addressIpC" type="number" max="255" min="0" style="width:40px;">.
          <input id="addressIpD" name="addressIpD" type="number" max="255" min="0" style="width:40px;">
          <button type="button" onclick="addressIp()">추가</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <label>팀원 초대</label><br>
    <div style=" height:30px; width:323px; margin-top: 1px; float:left;  border:solid 1px;margin-bottom: 10px;">
      <label>초대 이메일 </label><input id="email" name="email" type="email">
      <input type="button" value="초대" onclick="postInviteTeam()">
    </div>
  </div>
  <br>
  <div>
    <!-- 도메인 영역 -->
    <label></label>
    <div id="connectDomain" style="height:auto; width:848px; float:left; margin-bottom:15px;">
    </div>
    <div style="width: 848px;/">
      <label style="float:left">팀원 연결 상태</label>
      <div style="width:848px;height: 1px;background-color:black;float:left">
      </div>
    </div>
    <!-- 팀원 영역 -->
    <div id="connectMember" style="width:848px;">
    </div>
  </div>
</div>
</body>
<script>
  const local = window.location.pathname;
  const param = local.substring(11, local.length);
  const params = param.split('/');
  const groupId = params[0];
  const teamId = params[1];
  let domainList = [];
  let memberList = [];
  let isDomainList = false;
  let isMemberList = false;

  const init = function () {
    findDomain();
    findMember();
    const time = 1000 * 10;
    setInterval("autoScript()", time);
  }

  function autoScript() {
    pingDomain();
    pingMember();
  }

  function funDomainPing(connectId) {
    return new Promise((resolve, reject) => {
      post("api/team/ping/domain/" + teamId + "/" + connectId)
      .then((data) => {
        let address = data.name;
        let status = data.status;
        let connectId = data.connectId;
        document.getElementById("domain_address_" + connectId).innerHTML = "주소 : [" + address + "]";
        document.getElementById("domain_status_" + connectId).innerHTML = "주소 : [" + status + "]";
      });
    })
  }

  function memberTargetFunction(connectId) {
    return new Promise((resolve, reject) => {
      post("api/team/ping/member/" + teamId + "/" + connectId)
      .then((data) => {
        let username = data.name;
        let status = data.status;
        let id = data.id;
        document.getElementById("member_name_" + id).innerHTML = " " + username + " ";
        document.getElementById("member_status_" + id).innerHTML = "연결 상태: " + status + "";
      });
    })
  }

  function pingDomain() {
    console.log("핑 보낼떄 domain" + domainList);
    Promise.all(
        domainList.map(async (index) => {
          await funDomainPing(index);
        }),
    )
  }

  function pingMember() {
    console.log("핑 보낼때 member" + memberList);

    Promise.all(
        memberList.map(async (index) => {
          await memberTargetFunction(index);
        }),
    )
  }

  function findDomain() {
    post("api/team/find/domain/" + teamId)
    .then((datas) => {
      let out = "";
      const list = [];
      datas.forEach(function (data) {
        let name = data.name;
        let id = data.id;
        list.push(id);
        out += ""
            + " <div style='border:solid 1px; width:200px;height: 60px;float: left;margin-right:10px;'>\n"
            + "   <label id ='domain_address_" + id + "'>주소 : [ " + name + " ]</label><br>\n"
            + "   <label id ='domain_status_" + id + "'>연결 상태 : 대기중 </label>\n"
            + " </div>";
      })
      document.getElementById("connectDomain")
          .innerHTML = out;
      console.log("값 넣음 domain" + list);
      domainList = list;
      isDomainList = true;
      if (isDomainList === true && isMemberList === true) {
        autoScript();
      }
    })
    .catch(error => {
      console.log(error);
      return [];
    })
  }

  function findMember() {
    post("api/team/find/member/" + teamId)
    .then((datas) => {
      var out = "";
      const list = [];
      datas.forEach(function (data) {
        let name = data.name;
        let id = data.id;
        list.push(id);
        out += ""
            + "<div style='border:solid 1px; width:200px;height: 23px;float: left;margin-right:10px;margin-top:3px;'>\n"
            + "    <label id='member_name_" + id + "' style='float:left; margin-left:5px;'>" + name + "</label>\n"
            + "    <label id='member_status_" + id
            + "' style='float:right; margin-right:5px;'> 연결 상태: 대기중 </label>\n"
            + "</div>";
      })
      document.getElementById("connectMember")
          .innerHTML = out;
      console.log("값 넣음 member" + list);
      memberList = list;
      isMemberList = true;
      if (isDomainList === true && isMemberList === true) {
        autoScript();
      }
    })
    .catch(error => {
      console.log(error);
    })
  }

  function addressUrl() {
    var name = document.getElementById("addressUrlName").value;
    var url = document.getElementById("addressUrl").value;
    post("api/team/add/url", {
      teamId: teamId,
      name: name,
      url: url,
    })
    .then(() => {
      location.reload();
    })
    .catch((error) => {
      alert(error);
    })

  }

  function addressPort() {
    var name = document.getElementById("addressPortName").value;
    var port = document.getElementById("addressPortPort").value;
    var aClass = document.getElementById("addressPortIpA").value;
    var bClass = document.getElementById("addressPortIpB").value;
    var cClass = document.getElementById("addressPortIpC").value;
    var dClass = document.getElementById("addressPortIpD").value;

    post("api/team/add/ip/port", {
      teamId: teamId,
      name: name,
      a: aClass,
      b: bClass,
      c: cClass,
      d: dClass,
      port: port,
    })
    .then(() => {
      location.reload()
    })
    .catch((error) => {
      alert(error);
    })
  }

  function addressIp() {
    var name = document.getElementById("addressIpName").value;
    var AClass = document.getElementById("addressIpA").value;
    var BClass = document.getElementById("addressIpB").value;
    var CClass = document.getElementById("addressIpC").value;
    var DClass = document.getElementById("addressIpD").value;
    post("api/team/add/ip/", {
      teamId: teamId,
      name: name,
      a: AClass,
      b: BClass,
      c: CClass,
      d: DClass,
    })
    .then(() => {
      location.reload()
    })
    .catch((error) => {
      alert(error);
    })
  }

  function postInviteTeam() {
    var email = document.getElementById("email").value;

    post("api/team/invite", {
      teamId: teamId,
      groupsId: groupId,
      email: email,
    })
    .then(() => {
      location.reload()
    })
    .catch((error) => {
      alert(error);
    })
  }

  init();
</script>
</html>